{% extends 'common/Base.html' %}
{% block content %}

<div class="container" >
  <div class="row">
      <div class="col">
        <nav class="navbar navbar-light" style="margin-top:4%; background-color: #ffd7aa;">
        <span class="navbar-text">LISTS</span>
        </nav>
      </div>
  </div>
  <div class="row" style="margin:20px;">
    <div class="card bg-light" style="width: 20rem;margin:10px;">
      <div class="card-body">
        <h5 class="card-title">Add New List</h5>
        <p class="card-text">Define your own list</p>
        <a href="/NewList" class="btn btn-primary">New List</a>  
      </div>
    </div>

    {% for l in list %}
    
    <div class="card" style="width: 20rem;margin:10px;">
      <div class="card-body">
        <h5 class="card-title">{{l.Listname}}</h5>
        <p class="card-text">{{l.Listdescription}}</p>
        <a href="/List?list_id={{l.id}}" class="btn btn-primary">Access List</a>
        <a href="/EditList?list_id={{l.id}}" class="btn btn-primary" style="margin-left:20px;">Edit List</a>

      </div>
    </div>
  
    {% endfor %}
  </div>
</div>

{% endblock %}