{% extends 'common/Base.html' %}
{% load static %}

{% block styles %}
    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'jquery.dataTables.yadcf.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    
{% endblock %}
{% block content %}
<style>
    #Maintable_wrapper {
        background-color: rgb(250, 248, 241);
    }
</style>

<div class="contianer"> 
<div style="margin-right:0.5%;margin-left:0.5%;">
<table id="Maintable" class="display" style="width: 100%; table-layout: fixed;" >
    <thead>
        <tr>
            {% for col in columns %}
            <th title="{{col.col_description}}" data-toggle="tooltip">{{col.col_title}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            {% for col in columns %}
            <th title="{{col.col_description}}" data-toggle="tooltip">{{col.col_title}}</th>
            {% endfor %}
        </tr>
    </tfoot>
</table>
</div>
</div>
<div class="modal fade" id="Deletionmodal" data-keyboard="false" data-backdrop="static" tabindex="-1" aria-labelledby="DeletionmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DeletionmodalLabel">Delete ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id='Deletion-modal-body'>
          You are about to delete records. Are you sure ?
        </div>
        <div class="modal-footer" id='Deletionmodalfooter'>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Ok</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="AddRowModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="AddRowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddRowModalLabel">Add New Row</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id='NewRowFormDiv'>
              <form id='NewRowForm' action="#" method="GET">
               <form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    var col_defs = {{columns|safe}}

    $(document).ready(function() {

       // $('#Maintable thead th').each( function() {
         //   console.log($(this).attr('Description'));
           // this.setAttribute( 'title', $(this).attr('Description') );
        //});

        //$('#Maintable tfoot th').each( function() {
          //  console.log($(this).attr('Description'));
           // this.setAttribute( 'title', $(this).attr('Description') );
        //});
    const eport_options = {
                format: {
                        header: function (data) {
                                            return $('<div></div>').append(data).find('.yadcf-filter-wrapper').remove().end().text()
                                                }
                        }  
                    };    
        
        var table = $('#Maintable').DataTable( {
            "scrollY": $(window).height()*55/100,
            "scrollX": true,
            "paging": false,
            "scrollCollapse": true,
            "ajax": "GetTableData",
            "rowId": "id",
            "dom": '<"toolbar">Bfrti',
            "columns": [
            {% for col in columns %}
                { "data": "{{col.col_title}}" },
            {% endfor %}
            ],
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Export to Excel',
                    exportOptions: eport_options
                },
                {
                    extend: 'csvHtml5',
                    text: 'Export to CSV',
                    exportOptions: eport_options
                }
            ],


            initComplete: function () {
    
            $('#Maintable tbody td').on('dblclick', function (e) {
                
                    
                    if(this === e.target) {
                        var data = table.cell( this ).data();
                        var row = table.row(this).data();
                        var columns = table.settings().init().columns;
                        var colIndex = table.cell(this).index().column;

                        var input_id = 'input_'.concat(row.id.toString(),colIndex.toString());
                        //alert( 'Clicked on cell in visible column: '+table.cell( this ).index().columnVisible );
                        //$("#maintable tbody td").css("pointer-events", "none");
                        //this.innerHTML = "<input type='text' id="+input_id +" style='width:".concat($(this).css("width"),";'autofocus onblur='savedata(this,",row.id,',"',columns[colIndex].data,'"',")' value='",data,"'/>");
                        col = col_defs.find(rec => rec.Id === colIndex.toString());
                        console.log(colIndex);
                        console.log(col.col_datatype);

                        switch(col.col_datatype){
                            case 'textarea':
                                    this.innerHTML = "<textarea type='text' id="+input_id +" style='width:".concat($(this).css("width"),";'autofocus onblur='savedata(this,",row.id,',"',columns[colIndex].data,'"',")'>",data,"</textarea>");
                                    break;
                            case 'text':
                                    this.innerHTML = "<input type='text' id="+input_id +" style='width:".concat($(this).css("width"),";'autofocus onblur='savedata(this,",row.id,',"',columns[colIndex].data,'"',")' value='",data,"'/>");
                                    break;
                            case 'number':
                                    this.innerHTML = "<input type='number' id="+input_id +" style='width:".concat($(this).css("width"),";'autofocus onblur='savedata(this,",row.id,',"',columns[colIndex].data,'"',")' value='",data,"'/>");
                                    break;
                            case 'date':
                                    this.innerHTML = "<input type='date' id="+input_id +" style='width:".concat($(this).css("width"),";'autofocus onblur='savedata(this,",row.id,',"',columns[colIndex].data,'"',")' value='",data,"'/>");
                                    break;
                            case 'select':
                                    console.log(col.col_datatype_options);
                                    var opts = '';
                                    col.col_datatype_options.forEach(e=>
                                            
                                            opts += "<option value='"+e+"'>"+e+"</option>"  
                                        );
                                    
                                    this.innerHTML = "<select  id="+input_id +" style='width:".concat($(this).css("width"),";'autofocus onblur='savedata(this,",row.id,',"',columns[colIndex].data,'"',")' value='",data,"'>",opts,"</select>");
                                    console.log($( this ).children( 'select' ).val(data).change());
                                    break;
                        }
                        console.log(this);
                                    //console.log($('#'+input_id));
                        $('#'+input_id).focus();
                        //inobj.onblur(function(){ console.log('log'); });
                        //$("#maintable tbody td").css("pointer-events", "auto");
                        
                    } });
            
                    $('#Maintable tbody').on( 'click', 'tr', function () {
                                $(this).toggleClass('selected');
                        } );
            }


        } );
        
        //$(function () {
        //$('[data-toggle="tooltip"]').tooltip();
        //});
        //table.$('th').tooltip( {
        //"delay": 0,
        //"track": true,
        //"fade": 250
        //   } );

        //table.buttons().container().appendTo($('table_tooldiv'));
        //table.buttons().container().appendTo( $('.toolbar', table.table().container() ) );

       
    
        yadcf.init(table, [
            
            {% for col in columns %}
                {% if col.col_filtertype == 'select' %}
                    {column_number: {{col.Id}},filter_type: "select",select_type: 'select2'},
                {% elif col.col_filtertype == 'multi_select' %}
                    {column_number: {{col.Id}},filter_type: "multi_select",select_type: 'select2'},
                {% elif col.col_filtertype == 'date' %}
                    {column_number: {{col.Id}},filter_type: "date" , datepicker_type: 'bootstrap-datepicker', date_format: 'yyyy-mm-dd', moment_date_format: 'YYYY-MM-DD'},
                {% elif col.col_filtertype == 'text' %}
                    {column_number: {{col.Id}},filter_type: "text"},
                {% elif col.col_filtertype == 'range_number' %}
                    {column_number: {{col.Id}},filter_type: "range_number"},
                {% elif col.col_filtertype == 'range_date' %}
                    {column_number: {{col.Id}},filter_type: "range_date" , datepicker_type: 'bootstrap-datepicker', date_format: 'yyyy-mm-dd', moment_date_format: 'YYYY-MM-DD'},
                {% endif %}
            {% endfor %}
                            ]
            );

    
        //yadcf.exResetAllFilters(table,false);
        
        $("div.toolbar").html('<div role="alert" id="UpdateTip"></div>'+
                            '<div class="bg-light" id="table_tooldiv" style="margin-top:10px;margin-bottom:5px"><button type="button" class="btn btn-outline-primary btn-sm" style="margin-left:10px;" onclick =ResetFilter()>Reset Filter</button>'+
                            '<button type="button" class="btn btn-success btn-sm float-right" data-toggle="modal" style="margin-left:10px;" onclick=AddRow()>Add</button>'+
                            '<button type="button" class="btn btn-danger btn-sm float-right" data-toggle="modal" style="margin-left:10px;" onclick=DeleteSelected()>Delete</button></div>'
                            );

        
                            $(function () {
                                $('[data-toggle="tooltip"]').tooltip()
                            });
        
        table.buttons().container().appendTo( $('#table_tooldiv', table.table().container() ) );

        $('.dt-button').addClass('btn btn-secondary btn-sm');
        $('.dt-button').removeClass('buttons-html5 dt-button');
    
    });

    
    $('#AddRowModal').on('show.bs.modal', function (event) {
                        formField ='<div class="row"><input type="hidden" name="List_id" value="'+{{id}}+'">';
                        for (i=0; i< col_defs.length; i++ ) {
                            console.log(i);
                            console.log(i%3 === 0 && i>=3);
                            if(i%3 === 0 && i>=3){
                                formField +='</div><div class="row">';
                            }
                            if(col_defs[i].col_datatype == 'text'){
                                formField += '<div class="col">'+
                                                        '<div class="form-group">'+
                                                        '<label for="new_'+col_defs[i].col_title+'">'+col_defs[i].col_title+'</label>'+
                                                        '<input type="text" class="form-control" id="new_'+col_defs[i].col_title+'"name="new_'+col_defs[i].col_title+'"/>'+
                                                        '</div></div>';
                                                    }
                            else if(col_defs[i].col_datatype == 'date'){
                                formField +='<div class="col">'+
                                                        '<div class="form-group">'+
                                                        '<label for="new_'+col_defs[i].col_title+'">'+col_defs[i].col_title+'</label>'+
                                                        '<input type="date" class="form-control" id="new_'+col_defs[i].col_title+'"name="new_'+col_defs[i].col_title+'"/>'+
                                                        '</div></div>';
                                }
                            else if(col_defs[i].col_datatype == 'textarea'){
                                formField +='<div class="col">'+
                                                        '<div class="form-group">'+
                                                        '<label for="new_'+col_defs[i].col_title+'">'+col_defs[i].col_title+'</label>'+
                                                        '<textarea type="date" class="form-control" id="new_'+col_defs[i].col_title+'"name="new_'+col_defs[i].col_title+'"></textarea>'+
                                                        '</div></div>';
                                                        
                            }
                            else if(col_defs[i].col_datatype == 'number'){
                                formField +='<div class="col">'+
                                                        '<div class="form-group">'+
                                                        '<label for="new_'+col_defs[i].col_title+'">'+col_defs[i].col_title+'</label>'+
                                                        '<input type="number" class="form-control" id="new_'+col_defs[i].col_title+'"name="new_'+col_defs[i].col_title+'"/>'+
                                                        '</div></div>';
                                }
                            else if(col_defs[i].col_datatype == 'select'){
                                var opts = ''
                                col_defs[i].col_datatype_options.forEach(element=>
                                    opts += '<option value="'+element+'">'+element+'</option>'
                                )
                                formField +='<div class="col">'+
                                                        '<div class="form-group">'+
                                                        '<label for="new_'+col_defs[i].col_title+'">'+col_defs[i].col_title+'</label>'+
                                                        '<select type="number" class="form-control" id="new_'+col_defs[i].col_title+'"name="new_'+col_defs[i].col_title+'">'+opts+
                                                        '</select></div></div>';
                                }

                                
                        }
                        
                        formField +='</div>';
                        $('#NewRowForm').append(formField);

                    });
    
    </script>

    <script type="text/javascript">

        function savedata($this, $row, $col){
            var table = $('#Maintable').DataTable()
            var temp = table.row('#'+$row).data()
            console.log($row);
            if(temp[$col]!=$this.value)
                {
                    temp[$col] = $this.value;
                    var status = $('#UpdateTip')
                    status[0].innerHTML = 'Updated';
                    status.removeClass();
                    status.addClass('alert alert-success');
                }
            table.row('#'+$row).data(temp).invalidate();
            table.$('tr.selected').removeClass('selected');
    
    
        };
    
        function ResetFilter(){
            var table = $('#Maintable').DataTable();
            yadcf.exResetAllFilters(table,false);
            var status = $('#UpdateTip')
            status[0].innerHTML = 'Failed';
            status.removeClass();
            status.addClass('alert alert-danger');
            table.$('tr.selected').removeClass('selected');
    
        };
    
        function DeleteSelected(){
            //var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'),{backdrop: false});
            //myModal.show();
            var table = $('#Maintable').DataTable();
            var selected = table.rows('.selected').data();
            if (selected.length > 0)
                {
                    $("#Deletionmodalfooter").on("click",".btn-primary", function(){
                        selected.toArray().forEach(element => {
                                console.log(table.row('#'+element.id).remove().draw(false))
                    }); 
                    table.$('tr.selected').removeClass('selected');
                    $('#Deletionmodal').modal('hide');
                        })
                    
                    $('#Deletion-modal-body')[0].innerHTML = "You are about to delete "+selected.length+" records. Are you sure ?";
                    $('#Deletionmodal').modal('show');
    
            //console.log(table.row('.selected'));
            //table.row('.selected').remove().draw( false );
                };
            
        };

        function AddRow(){
                $('#AddRowModal').modal('show');
        }
    </script>
    
    
  {% endblock %}